from sklearn.model_selection import train_test_split
# ^^^ pyforest auto-imports - don't write above this line
### Name: Victor Umunna
### ID: 146d566bd9c1f000

In [49]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [50]:
data =  pd.read_csv('energydata_complete.csv')

In [51]:
data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

Question 12

In [52]:
X = data['T2']
y = data['T6']

In [53]:
corr_matrix = np.corrcoef(X, y)

In [54]:
corr_xy = corr_matrix[0,1]

In [55]:
r_squared = corr_xy**2

In [56]:
r_squared

0.6418990830855492

In [57]:
data = data.drop(['date', 'lights'], axis = 1)

In [58]:
scaler = MinMaxScaler()
normalised_data = pd.DataFrame(scaler.fit_transform(data), columns=data.columns)

In [59]:
features_data = normalised_data.drop(columns=['Appliances'])
target_data = normalised_data['Appliances']

In [60]:
x_train, x_test, y_train, y_test = train_test_split(features_data, target_data,
test_size=0.3, random_state=42)

In [61]:
linear_model = LinearRegression()
linear_model.fit(x_train, y_train)

LinearRegression()

In [62]:
pred = linear_model.predict(x_test)

Question 13

In [63]:
mae = mean_absolute_error(y_test, pred)
round(mae, 2)

0.05

Question 14

In [64]:
rss = np.sum(np.square(y_test - pred))
round(rss, 2)

45.35

Question 15

In [65]:
rmse = np.sqrt(mean_squared_error(y_test, pred))
round(rmse, 3)

0.088

Question 16

In [66]:
r2_score = r2_score(y_test, pred)
round(r2_score, 2)

0.15