### Name: Victor Umunna
### ID: 146d566bd9c1f000

In [27]:
import numpy as np
import pandas as pd

1

In [28]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']

In [29]:
pd.DataFrame(lst, columns = col, index=[1,2,3])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

2

In [30]:
array  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

In [31]:
array

[[94, 89, 63], [93, 92, 48], [92, 94, 56]]

In [32]:
array[:2,1:]

TypeError: list indices must be integers or slices, not tuple

5

In [33]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

6

In [34]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment